@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent-color: #FF00E6;
  --accent-color-light: #f747e5;
}

@layer base {
  h1 {
    @apply text-6xl;
  }

  h2 {
    @apply text-2xl;
  }
}

@layer components {
  .btn-custom {
    @apply rounded-md bg-[var(--accent-color)] px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-[var(--accent-color-light)] focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-[var(--accent-color)];
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
